* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  background-color: blueviolet;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.logo {
  color: antiquewhite;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;
}

.nav-links {
  display: flex;
  width: 35%;
  justify-content: space-around;
}

.nav-links a {
  color: antiquewhite;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.nav-links li {
  list-style: none;
}

.burger div {
  background-color: antiquewhite;
  width: 20px;
  height: 2px;
  margin: 5px;
}
.burger {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 6vh;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
